body{
  background-color:  url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beach-quotes-1559667853.jpg);
  background-repeat: repeat;
}
div{
  background-color: grey;
  border-color: silver;
  border-width: thick;
  border-style: double;
}
span{
  background-color: Orange;
  color: indigo;
}
